/* line 1, ../../../Private/Assets/Styles/Components/_general.scss */
a {
  text-decoration: none;
}

/* line 5, ../../../Private/Assets/Styles/Components/_general.scss */
.fullwidth-container {
  padding: 0 50px;
}

/* line 9, ../../../Private/Assets/Styles/Components/_general.scss */
.starter-template {
  margin-top: 80px;
}

/* line 13, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form {
  margin-top: 40px;
}
/* line 16, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form #superTypes {
  min-height: 200px;
}
/* line 20, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form #propertyValidator {
  min-height: 150px;
}
/* line 24, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form .tab-content {
  margin-top: 30px;
}
/* line 28, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form .control-label {
  text-align: right;
}
/* line 33, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form .nav-tabs .nav-link {
  color: #55595c;
}
/* line 36, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form .nav-tabs .nav-link.active {
  color: #3c8dbc;
}
/* line 42, ../../../Private/Assets/Styles/Components/_general.scss */
.generating-form .table-properties {
  margin-top: 30px;
}
