a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.action {
	color: $color-primary;

	&:hover {
		cursor: pointer;
	}
}

.icon {
	width: 16px;
}

.lamp-sign {
	width: 50px;
}

.hide {
	display: none;
}

.fullwidth-container {
	padding: 0 50px;
}

.starter-template {
	margin-top: 80px;
}

.generating-form {
	margin-top: 40px;

	#superTypes {
		min-height: 200px;
	}

	#propertyValidator {
		min-height: 150px;
	}

	.tab-content {
		margin-top: 30px;
	}

	.control-label {
		text-align: right;
	}

	.nav-tabs {
		.nav-link {
			color: #55595c;

			&.active {
				color: $color-primary;
			}
		}
	}

	.table-properties {
		margin-top: 30px;

		td {
			text-align: left;
		}
	}
}
