{namespace ts=TYPO3\TypoScript\ViewHelpers}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="{f:uri.resource(path: 'Images/favicon.ico')}">

		<title>Neos - NodeType Generator</title>
		<link href="{f:uri.resource(path: 'Styles/nodeGenerator.min.css')}" rel="stylesheet">
	</head>
		<body class="hold-transition skin-blue sidebar-mini">
			<f:render partial="Header" arguments="{_all}" />
			<div class="fullwidth-container">
				<div class="starter-template">
					<f:render section="Content" />
				</div>
			</div>

			<script src="{f:uri.resource(path: 'JavaScripts/nodeGenerator.js')}"></script>
			<script src="{f:uri.resource(path: 'JavaScripts/html5shiv.min.js')}"></script>
	</body>
</html>
